*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}
a{
    text-decoration: none;
    color: crimson;
}
a:hover{
    color: crimson;
}
li{
    list-style: none;
}


.home{

}
.home .left{
  background-color: rgb(134, 134, 204);
  padding: 20px;
  height: 100vh;
}
.home .left ul{
    margin-top: 40px;
}
.home .left ul li{
    margin: 10px 0;
}
.home .left ul li a{
    font-size: 20px;
}

.add {

}
.add input{
    width: 100%;
    border-radius: 10px;
    outline: none;
    margin: 10px 0;
    padding: 10px;
}
.add textarea{
    width: 100%;
    border-radius: 10px;
    outline: none;
    margin: 10px 0;
    padding: 10px; 
    height: 200px;
}